@inject ILocalStorageService LocalStorage

<div class="p-2">
    @if(showProjectsTable)
    {
        <button type="button" class="btn btn-sm btn-outline-dark w-100" @onclick="ToggleProjectsTable">Hide Projects</button>
    }
    else
    {
        <button type="button" class="btn btn-sm btn-outline-dark w-100" @onclick="ToggleProjectsTable">Show Projects</button>
    }
</div>

@if (showProjectsTable)
{
    <div class="table-responsive p-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Project Name</th>
                    <th scope="col">Last Analysis Date</th>
                    <th>Developer Count</th>
                    <th>Developer Cost/Hr</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Filter</th>
                </tr>
            </thead>
            <tbody>
                @if (projects == null) 
                {
                    <p>Loading...</p>
                }
                else if (!projects.Any())
                {
                    <p>No project data found.</p>
                }
                else
                {
                    @foreach(SonarQubeProject project in projects)
                    {
                        <tr>
                            <td>@project.Name</td>
                            <td>@String.Format("{0:yyyy-MM-dd HH:mm:ss}", project.LastAnalysisDate)</td>
                            <td>@project.NumOfDevelopers.ToString()</td>
                            <td>@project.DeveloperCostPerHour.ToString()</td>
                            <td>@String.Format("{0:0.000}", project.Weight)</td>
                            <td>
                                <input 
                                    type="checkbox" 
                                    @onclick="async () => await OnCheckboxChange(project.Name)" 
                                    checked="@(projectFilters.ContainsKey(project.Name) ? projectFilters[project.Name] : true)" 
                                />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}


@code {
    [Parameter]
    public List<SonarQubeProject>? projects { get; set; }
    [Parameter]
    public EventCallback<List<SonarQubeProject>> OnProjectFilterChanged { get; set; }
    private Dictionary<string, bool> projectFilters = new Dictionary<string, bool>();
    private List<SonarQubeProject>? previousProjects = new List<SonarQubeProject>();
    private bool showProjectsTable = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender && projects != null && projects.Any() && !ReferenceEquals(projects, previousProjects))
        {
            previousProjects = projects;
            projectFilters.Clear();
            
            foreach (var p in projects)
            {
                // Initialize project filter in local storage if not present
                if (!await CheckProjFilterExistsInLocalStore(p.Name))
                {
                    await LocalStorage.SetItemAsync($"projectFilters_{p.Name}", true);
                }

                // Load filter state from local storage
                projectFilters[p.Name] = await LocalStorage.GetItemAsync<bool>($"projectFilters_{p.Name}");
            }

            await UpdateProjects();
        }
    }

    protected async Task<bool> CheckProjFilterExistsInLocalStore(string projectName)
    {
        bool exists = await LocalStorage.ContainKeyAsync($"projectFilters_{projectName}");
        return exists;
    }

    protected void ToggleProjectsTable()
    {
        showProjectsTable = !showProjectsTable;
    }

    protected async Task UpdateProjects()
    {
        List<SonarQubeProject> filteredProjects = new List<SonarQubeProject>();
        if (projects != null)
        {
            foreach (var project in projects)
            {
                // Check if project is selected in filters, and add to filtered list
                if (projectFilters[project.Name])
                {
                    filteredProjects.Add(project);
                }
            }
        }
        await OnProjectFilterChanged.InvokeAsync(filteredProjects);
    }

    protected async Task OnCheckboxChange(string projectName)
    {
        projectFilters[projectName] = projectFilters.ContainsKey(projectName) && projectFilters[projectName] ? false : true;
        await LocalStorage.SetItemAsync($"projectFilters_{projectName}", projectFilters[projectName]);
        await UpdateProjects();
    }
}
