@page "/issues"
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Server.Kestrel.Core.Features
@using SQLitePCL
@rendermode InteractiveServer
@inject IHttpClientFactory HttpFactory
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime 

<PageTitle>View issues</PageTitle>

<div class="mb-4">
    <h1>View Issues</h1>
    <p>This is the issues page. Here you can view all issues found for all projects. Click on column headers to sort, and the magnifying glass icon to search by filters.</p>
    <hr />
</div>

<div class="row mb-4 d-flex justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-6">
                <div class="d-flex align-items-center justify-content-between mx-2">
                    <div class="page-size-chooser">
                        Items per page:
                        <select @bind="@pagination.ItemsPerPage">
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-outline-dark me-2" @onclick="RefreshIssues">Refresh Issues Data</button>
                </div>
                @if (isRefreshing)
                {
                    <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }

                @if (filteredIssues == null)
                {
                    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    <QuickGrid Items="@filteredIssues" Pagination="@pagination" class="w-100 mt-3">
                        @* <PropertyColumn Property="@(p => p.IssueKey)" Title="Issue Key" /> *@
                        <TemplateColumn Title="Issue Key">
                            <a href="@(issueLinks.ContainsKey(context.IssueKey) ? issueLinks[context.IssueKey] : "#")" target="_blank" rel="noopener noreferrer">
                                @context.IssueKey
                            </a>
                        </TemplateColumn>
                        <PropertyColumn Property="@(p => p.Severity)" Sortable="true">
                            <ColumnOptions>
                                @foreach (var severity in severities!)
                                {
                                    <div><input type="checkbox" @onclick="() => HandleSeverityFilter(severity)" checked="@filteredSeverities?.Contains(severity)"/> @severity</div>
                                }
                            </ColumnOptions>
                        </PropertyColumn>
                        <PropertyColumn Property="@(p => p.Project)" Sortable="true">
                            <ColumnOptions>
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-search pe-2"></i>
                                    <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Project name..." />
                                </div>
                            </ColumnOptions>
                        </PropertyColumn>
                        <PropertyColumn Property="@(p => p.Effort)" Sortable="true" />
                        <PropertyColumn Property="@(p => p.Type)" Sortable="true">
                            <ColumnOptions>
                                @foreach (var type in types!)
                                {
                                    <div><input type="checkbox" @onclick="() => HandleTypeFilter(type)" checked="@filteredTypes?.Contains(type)"/> @type</div>
                                }
                            </ColumnOptions>
                        </PropertyColumn>
                        <PropertyColumn Property="@(p => p.CreationDate)" Format="yyyy-MM-dd HH:mm:ss" Sortable="true" Title="Creation Date"/>
                    </QuickGrid>

                    <Paginator State="@pagination" />
                }
            </div>
        </div>
    </div>
</div>

@code {
    public required HttpClient _httpClient;
    private string? nameFilter;
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private List<string>? types
    {
        get
        {
            var result = issues?.Select(i => i.Type).Distinct().ToList();
            return result;
        }
    }
    private List<string>? filteredTypes;
    private List<string>? severities
    {
        get
        {
            var result = issues?.Select(i => i.Severity).Distinct().ToList();
            if (result != null) result.Sort();
            return result;
        }
    }
    private List<string>? filteredSeverities;
    private IQueryable<ProjectIssue>? issues { get; set; }
    private IQueryable<ProjectIssue>? filteredIssues
    {
        get
        {
            var result = issues;

            if (result == null)
                return null;

            if (!string.IsNullOrEmpty(nameFilter))
            {
                result = result.Where(i => i.Project.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));
            }

            if (filteredTypes != null && filteredTypes.Any() && filteredTypes.Count != types?.Count)
            {
                result = result.Where(i => filteredTypes.Contains(i.Type));
            }

            if (filteredSeverities != null && filteredSeverities.Any() && filteredSeverities.Count != severities?.Count)
            {
                result = result.Where(i => filteredSeverities.Contains(i.Severity));
            }

            return result;
        }
    }
    private Dictionary<string, string> issueLinks { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _httpClient = HttpFactory.CreateClient("LocalApi");

        var response = await _httpClient.GetFromJsonAsync<List<ProjectIssue>>("api/issues/all");
        if (response != null && response.Count != 0)
        {
            issues = response.AsQueryable();
            filteredTypes = issues.Select(i => i.Type).Distinct().ToList();
            filteredSeverities = issues.Select(i => i.Severity).Distinct().ToList();
            
            for (int i = 0; i < issues.Count(); i++)
            {
                var issue = issues.ElementAt(i);
                issueLinks[issue.IssueKey] = await GetIssueLink(issue);
            }
        }
    }

    private bool isRefreshing = false;
    protected async Task RefreshIssues()
    {
        isRefreshing = true;
        try
        {
            string requestUri = "api/issues/refresh";
            Debug.WriteLine($"Calling URL: {_httpClient.BaseAddress}{requestUri}");
            HttpResponseMessage response = await _httpClient.GetAsync(requestUri);
            isRefreshing = false;
            if (response.IsSuccessStatusCode)
            {
                navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Error updating projects: " + response.ReasonPhrase);
                Debug.WriteLine("Error refreshing projects data: " + response.ReasonPhrase);
            }
        }
        catch (Exception e)
        {
            isRefreshing = false;
            Debug.WriteLine("Exception when calling RefreshProjects(): " + e);
            navigationManager.NavigateTo("/Error");
        }
    }

    protected void HandleSeverityFilter(string severity)
    {
        if (filteredSeverities!.Contains(severity)) 
        {
            filteredSeverities.Remove(severity);
        }
        else 
        {
            filteredSeverities.Add(severity);
        }
    }

    protected void HandleTypeFilter(string type)
    {
        if (filteredTypes!.Contains(type)) 
        {
            filteredTypes.Remove(type);
        }
        else 
        {
            filteredTypes.Add(type);
        }
    }

    private int prevProjId = 0;
    private string prevUrl = "";
    public class IssueLinkResponse
    {
        public string Url { get; set; } = "";
    }
    protected async Task<string> GetIssueLink(ProjectIssue issue)
    {
        // Always use the same path and handle nulls
        if (prevProjId != issue.SonarQubeProjectId)
        {
            prevProjId = issue.SonarQubeProjectId;
            var response = await _httpClient.GetFromJsonAsync<IssueLinkResponse>($"/api/issues/issue-link?projectId={issue.SonarQubeProjectId}");
            if (response != null && !string.IsNullOrWhiteSpace(response.Url))
            {
                prevUrl = response.Url;
                return response.Url + $"/issues?open={issue.IssueKey}";
            }
            return "#";
        }
        else
        {
            return prevUrl + $"/issues?open={issue.IssueKey}";
        }
    }
}
